
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;


  }


  li{

    float: left;
  }
 
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  
    

  }

  li:last-child{
    border-bottom: none;
  }

  li a.home {
    background-color: #04AA6D;
    color: white;
  }
  
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  

  #body{

    margin-left: 1%;
    height: auto;
    margin-top: 0px;
    text-decoration: none;
    
  }

  #mainbody{

    
  }

  #h1{
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: rgb(122, 136, 202);
    font-family: 'Brush Script MT, Brush Script Std, cursive';
    font-size: 60px;
    color: white;

  }

  #h2{
    text-decoration: none;
    text-transform: capitalize;
    color: #04AA6D;
    text-align: center;
    font-size: 70px;
  }

  #heads{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url('./assets/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    margin-left: 0%;
    height: 500px;
    

  }

  #headings{

    width: 100%
  }

  .heads-cta{
    display: flex;
    flex-direction: row;

  }

  #cta1{

    margin-right: 20px;
    align-items: center;
    background-color: red;
    text-decoration: none;
    text-transform: capitalize;
    color:white;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
  }


#welcomeMessage{

  margin-top: 10px;
  background-color: rgb(237, 237, 240);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-weight: 300;
  font-size: x-large;
  margin-top: 16px;
}



  .spacesavailable{
    margin-left: 6%;
    color: blue;
    font-style: italic;
  }

  #spaces{

    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: flex-start;
    font-weight: 200px;
    gap: 20px;

  }

  #space{
    display: block;
    width: 25%;
    margin-left: 6%;
    align-items: center;
  }

  #amenities{
    display: block;
    margin-left: 1%;
    background-color: #eaf3f0;
    display: block;
    font-size: larger;
    font-weight: 200;
    
  
  }

  #headamenity{

    height: 200px;
    background-color: rgb(87, 32, 32);
    color: #f1f1f1;
  }

  #hamen{

  margin-left: 400px;
  font-family: "Bradley Hand, cursive", serif;
  }

  #wifi{
    display: block;
    
    width:100%;
    
  }
  #swimming{
    display: block;
    
    width:100%;

  }

  #parking{

    display: block;
    
    width:100%;
  }

  #water{
    display: block;
    
    width:100%;

  }

  #elevator{
    display: block;
    
    width:100%;

  }

  #Gym{
    display: block;
    
    width:100%;

  }

  #theatre{
    display: block;
    
    width:100%;

  }

  .amen{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    width: 100%;
    box-sizing: border-box;
    gap: 50px;
    
 
    
  }

  .imge{
    margin-left: 0%;
    width: 350px;
    gap: 200px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  #about{
    display: block;
    margin-left: 1%;
    background-color: rgb(68, 37, 37);
    color: white;
    font-family:"Bradley Hand, cursive", serif ;
    padding: 5px;
    font-size: large;
  }

  #habout{

    display: flex;
    flex-direction: row;
    text-decoration: wavy;

  }

  #fom{
    margin-left: 1%;
  }


  #footer{
    margin-left: 1%;
  }

  .footer-text {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
  }